.data-box {
    font-size: 16px;
    color: #409eff;
    text-align: center;
    line-height: 1.8;
    // &>span{
    //     display: block;
    //     text-align: center;
    // }
    strong {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      font-size: 30px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: #ecf5ff;
      line-height: 100px;
      color: #409eff;
      border: 1px #409eff solid;
    //   font-weight: 600;
    }
  }